body {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to right, #ffc371, #ff5f6d);
  background: linear-gradient(to right, #ffc371, #ff5f6d);
}

h1 {
  text-align: center;
}

.sheetholder {
  
}

.sheetmusic_div {
  
  display: flex;

  justify-content: flex-end;
  
}

.sheetmusic {
  
  
  width: 55%;
}
